# Beijing PM2.5 Air Quality

Cleaned up from https://archive.ics.uci.edu/ml/machine-learning-databases/00381/

In [1]:
import pandas as pd
pd.set_option("display.max_rows", 500)

df = pd.read_csv("beijing-air-quality-2010-2014.csv", parse_dates=['reading_time'])

# Select 10 random rows
df.sample(10)

,reading_time,year,month,day,hour,pm2_5,TEMP,PRES,cbwd,wind_speed,snow_hours,rain_hours,air_quality
2944,2010-05-03 16:00:00,2010,5,3,16,150.0,23.0,1005.0,NE,3.13,0,0,Unhealthy for Sensitive Groups
18627,2012-02-16 03:00:00,2012,2,16,3,12.0,-4.0,1030.0,NW,33.08,0,0,Good
24299,2012-10-09 11:00:00,2012,10,9,11,14.0,22.0,1013.0,NW,20.11,0,0,Good
19922,2012-04-10 02:00:00,2012,4,10,2,91.0,18.0,1010.0,SE,3.13,0,0,Moderate
20083,2012-04-16 19:00:00,2012,4,16,19,48.0,19.0,1013.0,SE,31.74,0,0,Good
36316,2014-02-22 04:00:00,2014,2,22,4,327.0,0.0,1029.0,NW,7.59,0,0,Hazardous
17103,2011-12-14 15:00:00,2011,12,14,15,14.0,1.0,1033.0,NW,140.83,0,0,Good
6047,2010-09-09 23:00:00,2010,9,9,23,160.0,21.0,1009.0,SE,36.66,0,0,Unhealthy
29278,2013-05-04 22:00:00,2013,5,4,22,80.0,16.0,1016.0,SE,57.65,0,0,Moderate
9411,2011-01-28 03:00:00,2011,1,28,3,23.0,-8.0,1039.0,NW,21.91,0,0,Good

# Visualization/Analysis

### Important note

If you get into a Series but want to cut and paste, you can convert back into a dataframe with `.to_frame().reset_index()`

### Time series

You'll probably want to use `.resample` or `.groupby`, depending on what you'd like to visualize

Resample options: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

### Good/Unhealthy/Hazardous

If you get average numbers and want categories instead, the code below will take a column of numbers and convert them into [one of these categories](https://www.airnow.gov/aqi/aqi-basics/)

```python
pd.cut(YOUR_COLUMN_HERE,
       bins=[-1, 50, 100, 150, 200, 300, 999999],
       labels=[
           'Good',
           'Moderate',
           'Unhealthy for Sensitive Groups',
           'Unhealthy',
           'Very Unhealthy',
           'Hazardous'])
```

### Yes/No

If you want to know whether a day is hazardous or not

```python
(df.pm2_5 > 301).astype(int)
```

In [2]:
pd.cut(df.pm2_5,
       bins=[-1, 50, 100, 150, 200, 300, 999999],
       labels=[
           'Good',
           'Moderate',
           'Unhealthy for Sensitive Groups',
           'Unhealthy',
           'Very Unhealthy',
           'Hazardous'])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
43819    Good
43820    Good
43821    Good
43822    Good
43823    Good
Name: pm2_5, Length: 43824, dtype: category
Categories (6, object): ['Good' < 'Moderate' < 'Unhealthy for Sensitive Groups' < 'Unhealthy' < 'Very Unhealthy' < 'Hazardous']

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   reading_time  43824 non-null  datetime64[ns]
 1   year          43824 non-null  int64
 2   month         43824 non-null  int64
 3   day           43824 non-null  int64
 4   hour          43824 non-null  int64
 5   pm2_5         41757 non-null  float64
 6   TEMP          43824 non-null  float64
 7   PRES          43824 non-null  float64
 8   cbwd          43824 non-null  object
 9   wind_speed    43824 non-null  float64
 10  snow_hours    43824 non-null  int64
 11  rain_hours    43824 non-null  int64
 12  air_quality   41757 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(6), object(2)
memory usage: 4.3+ MB

In [4]:
df.reading_time.sort_values().head(10)

0   2010-01-01 00:00:00
1   2010-01-01 01:00:00
2   2010-01-01 02:00:00
3   2010-01-01 03:00:00
4   2010-01-01 04:00:00
5   2010-01-01 05:00:00
6   2010-01-01 06:00:00
7   2010-01-01 07:00:00
8   2010-01-01 08:00:00
9   2010-01-01 09:00:00
Name: reading_time, dtype: datetime64[ns]

In [5]:
(df.pm2_5 > 301).astype(int)

0        0
1        0
2        0
3        0
4        0
        ..
43819    0
43820    0
43821    0
43822    0
43823    0
Name: pm2_5, Length: 43824, dtype: int32

In [6]:
import datetime as dt
day_df = df.groupby(df['reading_time'].dt.date).mean().round(2)
day_df

,year,month,day,hour,pm2_5,TEMP,PRES,wind_speed,snow_hours,rain_hours
reading_time,,,,,,,,,,
2010-01-01,2010.0,1.0,1.0,11.5,NaN,-6.75,1017.08,14.46,0.00,0.0
2010-01-02,2010.0,1.0,2.0,11.5,145.96,-5.12,1024.75,24.86,0.71,0.0
2010-01-03,2010.0,1.0,3.0,11.5,78.83,-8.54,1022.79,70.94,14.17,0.0
2010-01-04,2010.0,1.0,4.0,11.5,31.33,-11.50,1029.29,111.16,0.00,0.0
2010-01-05,2010.0,1.0,5.0,11.5,42.46,-14.46,1033.62,56.92,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...
2014-12-27,2014.0,12.0,27.0,11.5,238.67,-1.79,1027.83,9.28,0.00,0.0
2014-12-28,2014.0,12.0,28.0,11.5,197.38,1.58,1019.96,10.95,0.00,0.0
2014-12-29,2014.0,12.0,29.0,11.5,159.00,0.75,1013.75,8.00,0.00,0.0
2014-12-30,2014.0,12.0,30.0,11.5,46.08,1.88,1019.12,9.78,0.00,0.0
2014-12-31,2014.0,12.0,31.0,11.5,10.04,-1.92,1032.12,167.46,0.00,0.0

In [7]:
day_df.pm2_5 = day_df.pm2_5.fillna(0)

In [21]:
day_df["air_quo"] = pd.cut(day_df.pm2_5,
       bins=[-1, 12.2, 35.6, 55.6,150.6, 250.6 ,501],
       labels=[
           'Good',
           'Moderate',
           'Unhealthy for Sensitive Groups',
           'Unhealthy',
           'Very Unhealthy',
           'Hazardous'])
day_df

,year,month,day,hour,pm2_5,TEMP,PRES,wind_speed,snow_hours,rain_hours,air_quo
reading_time,,,,,,,,,,,
2010-01-01,2010.0,1.0,1.0,11.5,0.00,-6.75,1017.08,14.46,0.00,0.0,Good
2010-01-02,2010.0,1.0,2.0,11.5,145.96,-5.12,1024.75,24.86,0.71,0.0,Unhealthy
2010-01-03,2010.0,1.0,3.0,11.5,78.83,-8.54,1022.79,70.94,14.17,0.0,Unhealthy
2010-01-04,2010.0,1.0,4.0,11.5,31.33,-11.50,1029.29,111.16,0.00,0.0,Moderate
2010-01-05,2010.0,1.0,5.0,11.5,42.46,-14.46,1033.62,56.92,0.00,0.0,Unhealthy for Sensitive Groups
...,...,...,...,...,...,...,...,...,...,...,...
2014-12-27,2014.0,12.0,27.0,11.5,238.67,-1.79,1027.83,9.28,0.00,0.0,Very Unhealthy
2014-12-28,2014.0,12.0,28.0,11.5,197.38,1.58,1019.96,10.95,0.00,0.0,Very Unhealthy
2014-12-29,2014.0,12.0,29.0,11.5,159.00,0.75,1013.75,8.00,0.00,0.0,Very Unhealthy
2014-12-30,2014.0,12.0,30.0,11.5,46.08,1.88,1019.12,9.78,0.00,0.0,Unhealthy for Sensitive Groups
2014-12-31,2014.0,12.0,31.0,11.5,10.04,-1.92,1032.12,167.46,0.00,0.0,Good

In [22]:
day_df.to_csv("beijing_air_q.csv")

In [29]:
day = pd.read_csv("beijing_air_q.csv")
day

,reading_time,year,month,day,hour,pm2_5,TEMP,PRES,wind_speed,snow_hours,rain_hours,air_quo
0,2010-01-01,2010.0,1.0,1.0,11.5,0.00,-6.75,1017.08,14.46,0.00,0.0,Good
1,2010-01-02,2010.0,1.0,2.0,11.5,145.96,-5.12,1024.75,24.86,0.71,0.0,Unhealthy
2,2010-01-03,2010.0,1.0,3.0,11.5,78.83,-8.54,1022.79,70.94,14.17,0.0,Unhealthy
3,2010-01-04,2010.0,1.0,4.0,11.5,31.33,-11.50,1029.29,111.16,0.00,0.0,Moderate
4,2010-01-05,2010.0,1.0,5.0,11.5,42.46,-14.46,1033.62,56.92,0.00,0.0,Unhealthy for Sensitive Groups
...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2014-12-27,2014.0,12.0,27.0,11.5,238.67,-1.79,1027.83,9.28,0.00,0.0,Very Unhealthy
1822,2014-12-28,2014.0,12.0,28.0,11.5,197.38,1.58,1019.96,10.95,0.00,0.0,Very Unhealthy
1823,2014-12-29,2014.0,12.0,29.0,11.5,159.00,0.75,1013.75,8.00,0.00,0.0,Very Unhealthy
1824,2014-12-30,2014.0,12.0,30.0,11.5,46.08,1.88,1019.12,9.78,0.00,0.0,Unhealthy for Sensitive Groups
1825,2014-12-31,2014.0,12.0,31.0,11.5,10.04,-1.92,1032.12,167.46,0.00,0.0,Good

In [39]:
df.groupby(df.reading_time.dt.month)

In [48]:
month_df = df.resample("M",on="reading_time").pm2_5.mean().round(2).to_frame().reset_index()
month_df.head()

  reading_time  pm2_5
0   2010-01-31  90.44
1   2010-02-28  97.23
2   2010-03-31  94.10
3   2010-04-30  80.03
4   2010-05-31  86.90

In [52]:
month_df["air_quo"] = pd.cut(month_df.pm2_5,
       bins=[-1, 12.2, 35.6, 55.6,150.6, 250.6 ,501],
       labels=[
           'Good',
           'Moderate',
           'Unhealthy for Sensitive Groups',
           'Unhealthy',
           'Very Unhealthy',
           'Hazardous'])
month_df.head()

  reading_time  pm2_5    air_quo
0   2010-01-31  90.44  Unhealthy
1   2010-02-28  97.23  Unhealthy
2   2010-03-31  94.10  Unhealthy
3   2010-04-30  80.03  Unhealthy
4   2010-05-31  86.90  Unhealthy

In [64]:
month_df.air_quo.value_counts()

Unhealthy                         57
Very Unhealthy                     2
Unhealthy for Sensitive Groups     1
Good                               0
Moderate                           0
Hazardous                          0
Name: air_quo, dtype: int64

In [50]:
month_df.to_csv("beijing_air_q_month.csv")

In [51]:
date_df = df.resample("D",on="reading_time").pm2_5.mean().round(2).to_frame().reset_index()
date_df.head()

  reading_time   pm2_5
0   2010-01-01     NaN
1   2010-01-02  145.96
2   2010-01-03   78.83
3   2010-01-04   31.33
4   2010-01-05   42.46

In [54]:
date_df["air_quo"] = pd.cut(date_df.pm2_5,
       bins=[-1, 12.2, 35.6, 55.6,150.6, 250.6 ,501],
       labels=[
           'Good',
           'Moderate',
           'Unhealthy for Sensitive Groups',
           'Unhealthy',
           'Very Unhealthy',
           'Hazardous'])
date_df

     reading_time   pm2_5                         air_quo
0      2010-01-01     NaN                             NaN
1      2010-01-02  145.96                       Unhealthy
2      2010-01-03   78.83                       Unhealthy
3      2010-01-04   31.33                        Moderate
4      2010-01-05   42.46  Unhealthy for Sensitive Groups
...           ...     ...                             ...
1821   2014-12-27  238.67                  Very Unhealthy
1822   2014-12-28  197.38                  Very Unhealthy
1823   2014-12-29  159.00                  Very Unhealthy
1824   2014-12-30   46.08  Unhealthy for Sensitive Groups
1825   2014-12-31   10.04                            Good

[1826 rows x 3 columns]

In [63]:
date_df.air_quo.value_counts()

Unhealthy                         831
Moderate                          344
Very Unhealthy                    258
Unhealthy for Sensitive Groups    234
Hazardous                          92
Good                               29
Name: air_quo, dtype: int64

In [61]:
(date_df.pm2_5 > 301).astype(int).value_counts()

0    1771
1      55
Name: pm2_5, dtype: int64